/third-year/first-semester/operational-systems/projects/lab-2/main-project/cmake-build-debug
/third-year/first-semester/databases/projects/lab-7/.idea
/third-year/first-semester/databases/projects/lab-7/.idea
/third-year/first-semester/databases/projects/lab-7/.idea
/third-year/first-semester/databases/projects/lab-7/.idea/.idea.lab-7
third-year/first-semester/databases/projects/lab-7/.idea/.idea.lab-7/.idea/dataSources.local.xml
third-year/first-semester/databases/projects/lab-7/.idea/.idea.lab-7/.idea/dataSources.xml
/third-year/first-semester/computer-graphics/Lab1/.vs
/third-year/first-semester/computer-graphics/Lab1/.vs
