/third-year/first-semester/operational-systems/projects/lab-2/main-project/cmake-build-debug
/third-year/first-semester/databases/projects/lab-7/.idea
/third-year/first-semester/databases/projects/lab-7/.idea
/third-year/first-semester/databases/projects/lab-7/.idea
/third-year/first-semester/databases/projects/lab-7/.idea/.idea.lab-7
third-year/first-semester/databases/projects/lab-7/.idea/.idea.lab-7/.idea/dataSources.local.xml
third-year/first-semester/databases/projects/lab-7/.idea/.idea.lab-7/.idea/dataSources.xml
/third-year/first-semester/computer-graphics/Lab1/.vs
/third-year/first-semester/computer-graphics/Lab1/.vs
/fourth-year/first-semester/ai-basics/lab-1/.idea
/third-year/second-semester/networks/Lab3/.vs
/third-year/second-semester/networks/Lab3/Lab3/x64
/third-year/second-semester/networks/Lab3/x64
/third-year/second-semester/networks/Lab4/.vs
/third-year/second-semester/networks/Lab4/Lab4/x64
/third-year/second-semester/networks/Lab4/x64
/third-year/second-semester/networks/Lab5/.vs
/third-year/second-semester/networks/Lab5/Lab5/x64
/third-year/second-semester/networks/Lab5/x64
/third-year/second-semester/networks/Lab6/.vs
/third-year/second-semester/networks/Lab6/Lab6/x64
/third-year/second-semester/networks/Lab6/x64
/third-year/second-semester/networks/Lab7/.vs
/third-year/second-semester/networks/Lab7/Lab7
/third-year/second-semester/networks/Lab7/x64
/third-year/second-semester/networks/Lab8/.vs
/third-year/second-semester/networks/Lab8/Lab8/x64
/third-year/second-semester/networks/Lab8/x64
/third-year/second-semester/parallel-programming/Lab4/.idea
