:host {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 80%;
}

.title {
  color: var(--clr-light-a0);
  font-size: 1.75em;
  font-weight: 800;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
  padding: 0.5em;
  border: 1px solid var(--clr-red-a0);
  border-radius: 0.5em;
  color: var(--clr-red-a0);
}

.validation-error {
  font-weight: 300;
  color: var(--clr-red-a0);
}

.validation-error::before {
  content: 'Ошибка: ';
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
  justify-content: center;
  padding: 2em;
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a30);
  border-radius: 1.25em;
}

.register-page-navigation {
  align-self: center;
  color: var(--clr-light-a0);
}

.register-page-navigation:hover {
  opacity: 0.9;
}

.register-page-navigation:active {
  opacity: 0.8;
}

@media screen and (orientation: portrait) {
  :host {
    width: 95%;
  }

  .title {
    font-size: 1.25em;
  }

  .login-form {
    padding: 1.5em;
  }
}
