:host {
  width: 100%;
}

.button {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: var(--clr-primary-a10);
  color: var(--clr-light-a0);
  font-weight: bold;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
